@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .form-btn {
        @apply text-white bg-gradient-to-br from-emerald-500 to-brand-600 shadow-md shadow-brand-900 hover:shadow-brand-900 hover:shadow-lg hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-green-200 dark:focus:ring-green-800 font-medium rounded-lg text-sm px-5 py-2.5;
    }

    .btn {
        @apply py-2 px-4 font-semibold rounded-md transition-colors duration-200;
    }
    .btn-primary {
        @apply text-white bg-brand-500 hover:bg-blue-700;
    }
    .btn-outlined{
        @apply text-gray-700 bg-gradient-to-b from-0% from-transparent to-100% to-brand-400 border border-gray-300 hover:bg-gray-50;
    }

    .btn-large {
        @apply text-lg px-6 py-3;
    }
}